#neubar {
    background: #FAF7EF;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 10px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }

  .test-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px auto;
  }
  
  .test-card {
    background-color: #ffffff;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(100, 0, 0, 0.5); /* You can adjust the shadow color as needed */
    text-align: center;
    margin: 20px;
    width: 30%;
    height: 300px;
  }
  
  .test-card img {
    height: 100px;
    margin-bottom: 1rem;
  }
  
  .test-card h3 {
    /* Add styles if needed */
  }
  
  .test-card p {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .test-button {
    background-color: #1a73e8;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.logout-button:hover {
  background-color: #d32f2f;
}


  